/* body */

body {
    background-color: #79f1a4;
}


/* Navbar */

.navbar {
    padding-top: 0.75em !important;
}

.navbar-brand {
    font-size: 2em;
    color: #333;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 1px solid rgb(40, 40, 182);
    width: 100%;
    margin: auto;
}


/* Login, Register & Forget password */

.auth-container,
.auth-container .row {
    height: 100vh;
}

.auth-container .row {
    align-items: center;
    justify-content: center;
}

.auth-container .login {
    padding: 2em;
    background-color: #272c30;
    border-radius: 15px;
}

.login img {
    display: block;
    margin: auto;
    width: 80%;
}

.login {
    color: gainsboro;
}