* {
    background-color: #79F1A4;
    text-align: center;
} 

.profile{
    /* background-color: #79F1A4; */
    position: absolute;
    top: 25%;
    width: 100%;
    font-size: 18px;
}

details{
  position: absolute;
  top: 60%;
  width: 100%;
  right: 4px;
  text-align: center;
  font-size: 12px;
  }
