.profile{
    background-color: #79F1A4;
    position: absolute;
    text-align: center;
    top: 26%;
    bottom: 0%;
    width: 100%;
    font-size: 18px;
}
.space{
    background-color: #79F1A4;
    position: absolute;
    text-align: center;
    top: 7%;
    bottom: 0%;
    width: 100%;
}

details{
  position: absolute;
  top: 48%;
  bottom: 100%;
  width: 100%;
  right: 4px;
  text-align: center;
  font-size: 12px;
  color: rgb(41, 0, 225);
  }

.breadcrumb{
  position: absolute;
  text-align: center;
  top: 40%;
  bottom: 0%;
  left: 813px;
  font-size: 15px;
  color: black;
}
