* {
    background: URL(/images/icon.png) no-repeat center fixed;
    background-color: #79F1A4;
    background-size: contain; 
}

.profile{
    /* background-color: #79F1A4; */
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


